<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19202180327-vsb5vjq89gej4d6s95a4e7kh4int4iv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19202180327-vsb5vjq89gej4d6s95a4e7kh4int4iv7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>19202180327-bean5t57b7o6d52usuoj3vfmu3vdd6m6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAYU_-fdl7tOoSot0hXRranGfIIl8KUrDI</string>
	<key>GCM_SENDER_ID</key>
	<string>19202180327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.rivinsight</string>
	<key>PROJECT_ID</key>
	<string>rivinsight-b418d</string>
	<key>STORAGE_BUCKET</key>
	<string>rivinsight-b418d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19202180327:ios:8f881348240e33b8e88e42</string>
	<key>DATABASE_URL</key>
	<string>https://rivinsight-b418d-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>